[Unit]
Description=Check Amnezia VPN connection

[Timer]
OnBootSec=20s
OnUnitActiveSec=20s
AccuracySec=3s
Unit=vpn-router-vpn-watchdog.service

[Install]
WantedBy=timers.target
